@model InAndOut.Models.ViewModels.DeviceVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeviceVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
             <div class="form-group">
                <label asp-for="Device.Name" class="control-label"></label>
                <input asp-for="Device.Name" class="form-control" />
                <span asp-validation-for="Device.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.SerialNumber" class="control-label"></label>
                <input asp-for="Device.SerialNumber" class="form-control" />
                <span asp-validation-for="Device.SerialNumber" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
           
                    
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    <fieldset class="border border-dark p-5">
    <legend class=""w-auto">Start Time</legend>
    <div class="control-group">
        <label class="control-label input-label" for="startTime">Start :</label>
        <div class="controls bootstrap-timepicker">
            <input type="text" class="datetime" id="startTime" name="startTime" placeholder="Start Time" />
            <i class="icon-time"></i>
        </div>
        
    </div>
</fieldset>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

